body{
    background-color:#1f1f1f;
    margin: 0px;
    padding-left: 200px;
}
h1, h2 {
    color: aliceblue;
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
ul {
    width: 200px; /* Set the desired width */
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #1f1f1f; /* Optional: Add a background color */
    border-right: 1px solid #ddd; /* Optional: Add a border */
    position: fixed; /* Fix the ul element on the left side */
    top: 0;
    left: 0;
    height: 100%; /* Make the navbar span the full height of the screen */
    overflow: auto; /* Add scrolling if necessary */
}

ul li {
    display: block; /* Ensure list items are displayed as blocks */
    margin: 0;
    padding: 10px;
}

ul li a {
    color: aliceblue;
    display: block;
    text-align: center; /* Center the content inside the list items */
    text-decoration: none; /* Remove underline from links */
}
.dropbtn{
    color: aliceblue;
    text-align: center;
    background-color: #1f1f1f;
}
.dropdown{
    position: relative;
    text-align: center;
    display: inline-block;
}
.dropdown-content{
    display: none;
    text-align: center;
    position: absolute;
    z-index: 1;
}

.dropdown:hover .dropdown-content{
    text-align: center;
    display: block;
}